<div class="ui raised segments" id="pictures">
<% @pictures.each do |picture| %>
  <div class="ui basic segment" id="picture_<%= picture.id %>">
    <% if picture.is_a?(Picture) %>
      <div class="ui image">
        <%= image_tag picture.file if picture.file.attached? %>
      </div>
    <% end %>
    <div>
      <%= picture.body %>
      <%= link_to edit_detail_picture_path(params[:detail_type], params[:detail_id], picture), remote: true, class: 'grey text' do %>
        <i class="grey write square icon"></i>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<div id="detail_pictures_add">
  <%= render 'the_detail/pictures/add_link' %>
</div>
