<%= form_with model: @picture, url: detail_pictures_path, remote: true do |f| %>
  <%= f.hidden_field :id %>
  <%= f.file_field :file %>
  <div class="top attached inline fields">
    <div class="six wide field"></div>
    <div class="field" id="file_preview" data-controller="attachment">
    </div>
  </div>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>
