<% content_for :title, t('layouts.navbar.baike') %>

<%= render 'search' %>

<div class="row">

  <div class="col-md-3">
    <%= render 'nav_index' %>
  </div>

  <div class="col-md-9">

    <div class="panel panel-default">
      <div class="panel-heading">
        <p>截止到目前：共有：<%= Wiki.count %>条百科，<%= Wiki.count %>次编辑</p>
      </div>

    </div>

      <%= render partial: 'push', collection: @themes, as: :wiki %>

  </div>

</div>
