<% from_id = 'taxon_item_edit_' + @taxon_item.id.to_s %>
<tr id="taxon_item_<%= @taxon_item.id.to_s %>">
  <td><%= @taxon_item.id %></td>
  <td><%= @taxon_item.item.name %></td>
  <td>
    <%= form_tag [:my, @taxon_item], method: :patch, id: from_id %>
    <div class="ui input">
      <%= text_field_tag 'taxon_item[value]', @taxon_item.value, placeholder: 'Result:', class: 'three wide field', form: from_id %>
    </div>
  </td>
  <td>
    <%= submit_tag 'Save', class: 'ui green button', form: from_id %>
    <a class="ui grey button" onclick="removeForm()">取消</a>
  </td>
</tr>
