<tr id="taxon_item_<%= @entity_item.taxon_item_id %>">
  <td>
    <%= form_tag entity_items_path(params[:entity_type], params[:entity_id]), id: "entity_item_new_#{@entity_item.taxon_item_id}" %>
    <%= hidden_field_tag 'entity_item[taxon_item_id]', @entity_item.taxon_item_id, form: "entity_item_new_#{@entity_item.taxon_item_id}" %>
    <%= @entity_item.taxon_item_id %>
  </td>
  <td><%= @entity_item.item.name %></td>
  <td>
    <div class="ui input">
      <%= text_field_tag 'entity_item[value]', @entity_item.value, placeholder: @entity_item.value, class: 'three wide field', form: "entity_item_new_#{@entity_item.taxon_item_id}" %>
    </div>
  </td>
  <td>
    <%= submit_tag 'Save', style: 'display: none;', form: "entity_item_new_#{@entity_item.taxon_item_id}" %>
  </td>
</tr>
