<div class="three wide column">
<%= render 'nav_sites' %>
</div>

<div class="thirteen wide column">

  <div class="ui top attached menu borderless">
    <div class="item"><strong>Navigations List</strong></div>
    <div class="right menu">
      <div class="item"><%= link_to 'new', new_site_navigation_path, class: 'ui teal button' %></div>
    </div>
  </div>

  <table class="ui table">
    <thead>
    <tr>
      <th>Id</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @navigations.each do |navigation| %>
      <tr>
        <td><%= navigation.id %></td>
        <td><%= navigation.title %></td>
        <td><%= link_to 'Edit', edit_site_navigation_path(navigation) %></td>
        <td><%= link_to 'Destroy', site_navigation_path(navigation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>


