<td></td>
<td><%= model.name %></td>
<td>
  <%= link_to '详细', model_path(model), target: '_blank', class: 'ui green label' %>
  <%= link_to '编辑', edit_admin_model_path(model), class: 'ui orange label' %>
  <%= link_to '添加章节', new_admin_model_path(parent_id: model), class: 'ui brown label' %>
  <%= link_to '删除', admin_model_path(model), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
</td>
<td>
  <% if model.children.present? %>
  <%= link_to admin_model_path(model) do %>
    <i class="chevron right icon"></i>
  <% end %>
  <% end %>
</td>