<div class="three wide column">
  <%= render 'admin/detail/nav' %>
</div>


<div class="ui top attached menu borderless">
  <div class="item"><strong>知识</strong></div>
  <div class="right menu">
    <div class="item"><%= link_to '新建', new_admin_knowledge_path, class: 'ui teal button' %></div>
  </div>
</div>

<table class="ui attached definition table">
  <thead class="full-width">
  <tr>
    <th class="one wide"></th>
    <th>名称</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @knowledges.each do |knowledge| %>
    <tr class="active">
      <td class="center aligned">
        <i class="caret down icon"></i>
      </td>
      <%= render partial: 'td', locals: { knowledge: knowledge } %>
    </tr>
    <% knowledge.children.each do |child| %>
      <tr>
        <td class="center aligned">
          <i class="caret right icon"></i>
        </td>
        <%= render partial: 'td', locals: { knowledge: child } %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= paginate @knowledges %>
