<tr id="taxon_item_<%= taxon_item.id %>">
  <td><%= taxon_item.id %></td>
  <td><%= taxon_item.item.name %></td>
  <td>
    <% if taxon_item.item.key == 'boolean' %>
    <div class="ui slider checkbox" id="checkbox_<%= taxon_item.item_id %>">
      <%= check_box_tag :entity_item, taxon_item.id, false, data: { url: entity_items_path(params[:entity_type], params[:entity_id]) } %>
      <label></label>
    </div>
    <% else %>
      <%= link_to new_entity_item_path(params[:entity_type], params[:entity_id], taxon_item_id: taxon_item.id), remote: true do %>
        <div class="ui input">
          <%= text_field_tag 'entity_item[value]', taxon_item.value, placeholder: 'Value:', class: 'three wide field', form: "entity_item_new_#{taxon_item.id}" %>
        </div>
      <% end %>
    <% end %>
  </td>
  <td>
    <%# link_to 'Edit', edit_entity_item_path(params[:entity_type], params[:entity_id]), remote: true, class: 'ui pink label' %>
    <%# link_to 'Destroy', entity_item_path(params[:entity_type], params[:entity_id]), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'ui red label' %>
  </td>
</tr>