<tr id="taxon_item_add">
  <%= uid = rand(99999) %>
  <td><%= form_tag [:my, @space, @taxon_item], remote: true, id: "taxon_item_new_#{uid}" %></td>
  <td><%= select_tag 'taxon_item[list_id]', options_for_select(@lists, @taxon_item.list_id), include_blank: true, class: 'four wide field', form: "taxon_item_new_#{uid}" %></td>
  <td>
    <%= select_tag 'taxon_item[item_id]', options_for_select([], @taxon_item.item_id), class: 'three wide field', form: "taxon_item_new_#{uid}" %>
    <%= hidden_field_tag 'taxon_item[item_id]', @taxon_item.item_id, id: 'taxon_item_real_item_id', form: "taxon_item_new_#{uid}" %>
  </td>
  <td>
    <div class="ui input">
      <%= text_field_tag 'taxon_item[value]', @taxon_item.value, placeholder: 'Result:', class: 'three wide field', form: "taxon_item_new_#{uid}" %>
    </div>
  </td>
  <td>
    <%= submit_tag 'Save', class: 'ui green button', form: "taxon_item_new_#{uid}" %>
    <a class="ui grey button" onclick="removeForm()">取消</a>
  </td>
</tr>
