<div>

  <div class="ui top attached menu borderless">
    <div class="item"><strong>Space Items</strong></div>
  </div>

  <div class="ui segment bottom attached">
  </div>

  <div class="ui segment top attached">
    <%= link_to 'New Space Item', new_taxon_item_path(params[:taxon_type], params[:taxon_id]), remote: true, class: 'ui teal button' %>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody id="taxon_item_tbody">
    <% @items_hash.each do |list, items| %>
      <tr id="taxon_list_<%= list.id %>">
        <td colspan="3">
          <%= list.name %>
          <%= link_to 'New Space Item', new_taxon_item_path(params[:taxon_type], params[:taxon_id], list_id: list.id), remote: true, class: 'ui mini teal button' %>
        </td>
      </tr>
      <% items.each do |item| %>
        <%= render partial: 'taxon_item', locals: { taxon_item: item } %>
      <% end %>
    <% end %>
    </tbody>
  </table>

</div>


