<tr id="taxon_item_add">
  <% uid = rand(99999) %>
  <td><%= form_with model: @taxon_item, url: admin_taxon_items_path, remote: true, id: "taxon_item_new_#{uid}" %></td>
  <td>
    <div class="select" data-controller="input">
      <%= select_tag 'taxon_item[list_id]', options_for_select(@lists, @taxon_item.list_id), include_blank: true, data: { remote: true, url: search_admin_items_url, action: 'input#submit' }, form: "taxon_item_new_#{uid}" %>
    </div>
    <div class="select">
      <%= select_tag 'taxon_item[item_id]', options_for_select([], @taxon_item.item_id), class: 'three wide field', form: "taxon_item_new_#{uid}" %>
    </div>
    <%= hidden_field_tag 'taxon_item[item_id]', @taxon_item.item_id, id: 'taxon_item_real_item_id', form: "taxon_item_new_#{uid}" %>
  </td>
  <td>
    <%= submit_tag 'Save', class: 'ui green button', form: "taxon_item_new_#{uid}" %>
    <a class="ui grey button" onclick="removeForm()">取消</a>
  </td>
</tr>
