<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @items_hash.each do |list, items| %>
  <tbody id="taxon_item_tbody_<%= list.id %>">
    <tr id="taxon_list_<%= list.id %>" class="is-selected">
      <td colspan="2">
        <%= list.name %>
        <%= link_to list_admin_taxon_items_path(params[:taxon_type], params[:taxon_id], list_id: list.id), class: 'button is-warning is-small' do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </td>
    </tr>
    <% items.each do |item| %>
      <%= render partial: 'taxon_item', locals: { taxon_item: item } %>
    <% end %>
  </tbody>
  <% end %>
  <tfoot id="taxon_item_tfoot">
     <tr>
       <th></th>
       <th>
         <%= link_to new_admin_taxon_item_path(params[:taxon_type], params[:taxon_id]), class: 'button is-link is-small' do %>
           <i class="fas fa-plus"></i><%= t('.new') %>
         <% end %>
       </th>
     </tr>
  </tfoot>
</table>
