<div class="content">

  <div class="description">
    <%= ex_simple_format knowledge.major_record.try(:body) %>
  </div>

  <div class="extra">
    <div class="left floated">
      <%= link_to '插入段落', new_knowledge_path(knowledge_id: knowledge, position: 1), :remote => true %>
      <span>丨</span><%= link_to '编辑内容', new_knowledge_major_path(knowledge), remote: true %>
      <span>丨所有版本：</span><%= link_to knowledge.major_records_count, knowledge_majors_path(knowledge) %>
    </div>

    <% if knowledge.major %>
      <div class="right floated">
        <span>最近贡献：</span>
        <%= link_to knowledge.major.commit.name, person_path(knowledge.major_record.commit) %>
      </div>
    <% end %>
  </div>

</div>