<div class="passage" id="<%= "solo_"+wiki.id.to_s %>">

  <% if wiki %>
  <div class="passage-content">
    <%= ex_simple_format wiki.body %>
  </div>
  <% end %>

  <div class="passage-info clearfix">

    <div class="pull-left">
      <%= link_to '插入段落', new_wiki_part_path(wiki, :position => 1), :remote => true %>
      <span>丨</span><%= link_to '编辑内容', edit_solo_path(wiki), :remote => true %>
      <span>丨所有版本：</span><%= link_to wiki.wiki_histories_count, solos_path %>
    </div>

    <% if wiki %>
    <div class="pull-right">
      <span>最近贡献：</span>
      <%= link_to wiki.user.name, person_path(wiki.user) %>
    </div>
    <% end %>

  </div>

</div>
<%= render :partial => 'solo', :locals => { :wiki => @knowledge } %>

<% @solo.parts.each do |sort| %>
  <%= render :partial => 'text/parts/part', :locals => { :wiki => sort } %>
<% end %>