<% content_for :title, ' ' %>
<% content_for :meta_description, '' %>

<div class="sixteen wide column">
  <ol class="ui breadcrumb">
    <li class="section active"><%= @knowledge.name %></li>
  </ol>
</div>

<div class="twelve wide column">

  <h4 class="ui center aligned header">
    <%= @knowledge.name %>
  </h4>

  <div class="ui divided items">
    <div class="item" id="major_<%= @knowledge.id %>">
      <%= render partial: 'major', locals: { knowledge: @knowledge } %>
    </div>

    <% @knowledge.children.each do |child| %>
    <div class="item" id="minor_<%= child.id %>">
      <%= render partial: 'minor', locals: { knowledge: child } %>
    </div>
    <% end %>
  </div>

</div>

<div class="four wide column">

  <%= render :partial => 'nav', :locals => { :sorts => @knowledge.children } %>

</div>

