<% content_for :title, ' ' %>
<% content_for :meta_description, '' %>

<div class="sixteen wide column">
  <ol class="ui breadcrumb">
    <li class="section active"><%= @knowledge.name %></li>
  </ol>
</div>

<div class="twelve wide column">

  <h3 class="ui header">
    <%= @knowledge.name %>
  </h3>

  <div class="ui items">
    <%= render partial: 'wiki', locals: { knowledge: @knowledge } %>

    <% @knowledge.children.each do |child| %>
      <%= render partial: 'wiki', locals: { knowledge: child } %>
    <% end %>
  </div>

</div>

<div class="four wide column">

  <%= render :partial => 'nav', :locals => { :sorts => @knowledge.children } %>

</div>

