<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to '所有类别', admin_lists_path %></li>
    <li class="is-active"><%= @list.name %></li>
  </ul>
<% end %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Item.human_attribute_name(:name) %></th>
      <th><%= Item.human_attribute_name(:key) %></th>
      <th>
        <%= link_to new_admin_list_item_path(@list), remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <% @items.each do |item| %>
    <tr>
      <td>
        <%= image_tag item.logo, class: 'image is-24x24' if item.logo.attached? %>
        <span><%= item.name %></span>
      </td>
      <td><%= item.key %></td>
      <td>
        <%= link_to '详细', admin_list_item_path(@list, item) %>
        <%= link_to '编辑', edit_admin_list_item_path(@list, item), remote: true %>
        <%= link_to '删除', admin_list_item_path(@list, item), method: :delete, remote: true, data: { confirm: t('.confirm') } %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @items %>
