<article class="media">
  <figure class="media-left">
    <%= image_tag knowledge.main_image if knowledge.main_image.attached? %>
  </figure>
  <div class="media-content">
    <h2 id="knowledge_title_<%= knowledge.id %>" class="title" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
      <%= link_to knowledge.title, knowledge_path(knowledge) %>
      <%= link_to edit_my_knowledge_path(knowledge, edit: 'title'), class: 'title-edit', style: 'visibility: hidden', data: { show_target: 'item' } do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <%= link_to my_knowledge_path(knowledge), method: :delete, class: 'title-edit', style: 'visibility: hidden', data: { confirm: t('.confirm'), show_target: 'item' } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </h2>
    <div class="content" id="knowledge_content_<%= knowledge.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
      <%= simple_format knowledge.body %>
      <%= link_to edit_my_knowledge_path(knowledge, edit: 'content'), class: 'title-edit', style: 'visibility: hidden', data: { show_target: 'item' } do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
    </div>
  </div>
  <div class="media-right">
  </div>
</article>
