<article class="media">
  <figure class="media-left">
    <%= image_tag knowledge.main_image if knowledge.main_image.attached? %>
  </figure>
  <div class="media-content">
    <h2 class="title"><%= link_to knowledge.title, knowledge_path(knowledge) %></h2>
    <div class="content">
      <%= knowledge.body %>
    </div>
  </div>
  <div class="media-right">
    <p><%= link_to t('.edit'), edit_my_knowledge_path(knowledge), remote: true %></p>
    <p><%= link_to t('.destroy'), my_knowledge_path(knowledge), method: :delete, data: { confirm: t('.confirm') } %></p>
  </div>
</article>
