<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to '百科频道', knowledges_path %></li>
    <% @knowledge.ancestors.each do |knowledge| %>
      <li><%= link_to knowledge.title, knowledge_path(knowledge) %></li>
    <% end %>
    <li class="is-active"><%= @knowledge.title %></li>
  </ul>
</div>

<div class="level">
  <div class="level-item">
    <h1 class="title has-text-centered"><%= @knowledge.title %></h1>
  </div>
  <div class="level-item is-narrow">
    <%= link_to '新建', new_my_knowledge_path(parent_id: @knowledge), remote: true %>
  </div>
</div>

<div class="box">
  <div class="content" id="knowledge_<%= @knowledge.id %>">
    <%= @knowledge.body %>
  </div>
  <div>
    <%= link_to edit_my_knowledge_path(@knowledge), remote: true do %>
      <i class="fas fa-pencil-alt"></i><span><%= t('.edit') %></span>
    <% end %>
  </div>
</div>

<div>
<% @knowledge.children.each do |child| %>
  <div><%= child.title %></div>
<% end %>
</div>
