<div class="breadcrumb">
  <ul>
    <li><%= link_to '百科频道', knowledges_path %></li>
    <% @knowledge.ancestors.each do |knowledge| %>
      <li><%= link_to knowledge.title, knowledge_path(knowledge) %></li>
    <% end %>
    <li class="is-active"><%= @knowledge.title %></li>
    <li class="pull-right"><%= link_to '新建', new_my_knowledge_path(parent_id: @knowledge), remote: true %></li>
  </ul>
</div>

<table class="table">
<% @knowledge.children.each do |child| %>
  <%= render partial: 'knowledge', locals: { knowledge: child } %>
<% end %>
</table>
