<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to '百科频道', { action: 'index' } %></li>
    <% @knowledge.ancestors.each do |knowledge| %>
      <li><%= link_to knowledge.title, { action: 'show', id: knowledge.id } %></li>
    <% end %>
    <li class="is-active"><%= @knowledge.title %></li>
  </ul>
</div>

<div class="level">
  <div class="level-item">
    <h1 class="title has-text-centered"><%= @knowledge.title %></h1>
  </div>
  <div class="level-item is-narrow">
    <%= link_to '新建', { controller: 'my/knowledges', action: 'new', parent_id: @knowledge } %>
  </div>
</div>

<div class="box">
  <div class="content" id="knowledge_content_<%= @knowledge.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
    <%= @knowledge.body %>
    <%= button_to({ controller: 'my/knowledges', action: 'edit', id: @knowledge.id, edit: 'content' }, class: 'title-edit visibility-hidden', data: { show_target: 'item' }) do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
  </div>
</div>

<div>
<% @knowledge.children.each do |child| %>
  <div><%= child.title %></div>
<% end %>
</div>
